html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0
}

.app-container {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  position: relative;
  box-sizing: border-box;
  margin: 10px auto;
  width: 50%;

  @media (max-width: 768px) {
    width: 100%;
  }
}

.greeting {
  font-family: Helvetica;
  font-weight: 200;
  font-size: 225%;
  max-width: 100%;
  letter-spacing: normal;
}

.chat-container {
  color: #3e474f;
  height: calc(100vh - 120px);
  padding: 20px;
  border-bottom: none;
  overflow: hidden;
  overflow-y: scroll;
}
